$breakpoints: (
  extra-small: (
    min-width: 375px,
  ),
  small: (
    min-width: 568px,
  ),
  medium: (
    min-width: 768px,
  ),
  large: (
    min-width: 1024px,
  ),
  extra-large: (
    min-width: 1248px,
  ),
);

@mixin mq($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error '"#{$breakpoint}" - Nie rozpoznaje tej wielkości';
  }
}

@mixin imageItem() {
  margin: 30px 10%;
  height: 25vh;
  width: 80%;
  display: inline-block;
  object-fit: cover;
  @include mq(small) {
    margin: auto 10px;
    width: 50%;
    height: 90%;
  }
}

@mixin titleItem() {
  margin: 0 auto;
  height: 50px;
  width: 100%;
  display: inline-block;
  line-height: 50px;
  text-align: center;
}

@mixin bodyForm() {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  background-color: $background-collor;
}

@mixin input() {
  padding-left: 15px;
  border: 1px solid $form-grey;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
}

@mixin submit() {
  border: none;
  height: calc(100% + 5px);
  width: 100%;
  border-radius: 5px;
  background-color: $maximum-blue;
  color: $allice-blue;
  text-transform: uppercase;
  outline: none;
}

@mixin heart {
  position: absolute;
  transform: translateX(-50%);
  color: $error;
  &:hover {
    cursor: pointer;
  }
}
