$breakpoints: (
  extra-small: (
    min-width: 375px,
  ),
  small: (
    min-width: 568px,
  ),
  medium: (
    min-width: 768px,
  ),
  large: (
    min-width: 1024px,
  ),
  extra-large: (
    min-width: 1248px,
  ),
);

@mixin mq($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error '"#{$breakpoint}" - Nie rozpoznaje tej wielkości';
  }
}

@mixin imageItem() {
  margin: 30px 10%;
  height: 25vh;
  width: 80%;
  display: inline-block;
  object-fit: cover;
  @include mq(small) {
    margin: auto 10px;
    width: 50%;
    height: 90%;
  }
}

@mixin titleItem() {
  margin: 0 auto;
  height: 50px;
  width: 100%;
  display: inline-block;
  line-height: 50px;
  text-align: center;
}

@mixin bodyForm() {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  background-color: $background-collor;
}

@mixin input() {
  padding-left: 15px;
  border: 1px solid $form-grey;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
}

@mixin submit() {
  border: none;
  height: calc(100% + 5px);
  width: 100%;
  border-radius: 5px;
  background-color: $maximum-blue;
  color: $allice-blue;
  text-transform: uppercase;
  outline: none;
}

@mixin heart() {
  position: absolute;
  transform: translateX(-50%);
  color: $error;
  &:hover {
    cursor: pointer;
  }
}

@mixin title() {
  padding-bottom: 27px;
  font-size: 22px;
  text-align: center;
  @include mq(extra-large) {
    padding-bottom: 62px;
  }
}

@mixin searchInput() {
  position: absolute;
  top: 50%;
  left: 7.5vw;
  padding: 0 15px;
  border: none;
  height: 40px;
  width: 75vw;
  transform: translateY(-50%);
  font-size: 17px;
  color: $allice-blue;
  background-color: $carolina-blue;
  border-radius: 50px;
  outline: none;
  z-index: 1;
  @include mq(small) {
    left: 50%;
    width: 50vw;
    transform: translate(-50%, -50%);
  }
  @include mq(large) {
    width: 30vw;
  }
  @include mq(extra-large) {
    width: 20vw;
  }
  &::placeholder {
    color: $allice-blue;
  }
}

@mixin searchIcon() {
  position: absolute;
  border: none;
  top: 4px;
  left: 72.5vw;
  height: 33px;
  width: 33px;
  transform: translate(-15%, -1px);
  font-size: 18px;
  line-height: 33px;
  color: $maximum-blue;
  background-color: $allice-blue;
  border-radius: 50%;
  z-index: 2;
  outline: none;
  @include mq(small) {
    left: 72%;
  }
  @include mq(large) {
    left: 63%;
  }
  @include mq(extra-large) {
    left: 58.5%;
  }
}

@mixin accountTitle() {
  font-size: 26px;
  text-align: center;
}

@mixin accountInfoHolder($top) {
  margin: $top auto 0;
  @include mq(small) {
    margin-bottom: 10vh;
  }
  @include mq(large) {
    margin-bottom: 5vh;
  }
}

@mixin accountInfo() {
  margin: 2vh 0;
  @include mq(small) {
    margin: 5vh 0;
    font-size: 18px;
  }
  @include mq(large) {
    margin: 3vh 0;
    text-align: center;
  }
}

@mixin accountButton($background) {
  margin: 5vh 18vw 0;
  border: none;
  height: 5vh;
  width: 50vw;
  color: $allice-blue;
  background-color: $background;
  text-transform: uppercase;
  border-radius: 7px;
  @include mq(small) {
    height: 10vh;
    width: calc(100vw / 3);
    margin: 10vh calc(52.7vw / 2) 0;
  }
  @include mq(large) {
    height: 6vh;
    width: 25vw;
    margin: 10vh calc(61vw / 2) 0;
  }
}

@mixin listItemInfo() {
  margin: 5vw 0;
  padding: 5vw 0;
  min-height: 40vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: $item-backGround;
  border-radius: 7px;
  @include mq(small) {
    min-height: 15vw;
  }
  @include mq(large) {
    min-height: 10vw;
  }
  @include mq(extra-large) {
    padding: 2vw 0;
    min-height: 5vw;
  }
}
