$powder-blue: #bee9e8;
$maximum-blue: #62b6cb;
$blue-sapphire: #225d81;
$allice-blue: #ebf7ff;
$carolina-blue: #5fa8d3;
$item-backGround: #bfdcee;
$background-collor: #f0f8fa;
$prussian-blue: #112e40;
