.accountContainer {
  min-height: 150vh;
}

.accountPanel {
  padding: 5vh 7vw;
  &__titleDate {
    @include accountTitle();
  }
  &__infoHolder {
    @include accountInfoHolder(10vh);
  }
  &__info {
    @include accountInfo();
  }
  &__delete {
    @include accountButton($error);
    &:hover {
      cursor: pointer;
    }
  }
}

.listInfo {
  position: relative;
  margin: 8vh 0;
  padding: 5vw;
  background-color: $blue-sapphire;
  border-radius: 3px;
  &__title {
    margin-bottom: 30px;
    font-size: 18px;
    color: $allice-blue;
  }
  &__switch {
    position: absolute;
    top: 5vw;
    left: 42vw;
    font-size: 18px;
    color: $powder-blue;
  }
  &__add {
    position: absolute;
    top: 3vw;
    left: 50vw;
    font-size: 23px;
    color: $powder-blue;
  }
}

.listRooms {
  &__item {
    @include listItemInfo();
  }
  &__id {
    line-height: 30vw;
    color: $prussian-blue;
  }
  &__image {
    height: 30vw;
    width: 30vw;
    object-fit: cover;
  }
  &__login {
    margin: 0 7vw;
    line-height: 30vw;
    &--empty {
      margin: auto 2vw;
      width: 20vw;
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__link {
    color: $prussian-blue;
    text-decoration: none;
  }
  &__btn {
    margin: 9vw auto 0;
    &--add {
      @include accountButton(#38b000);
    }
    &--delete {
      @include accountButton($error);
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.listFaults {
  &__item {
    @include listItemInfo();
    align-items: center;
  }
  &__id {
    width: 10vw;
    text-align: center;
  }
  &__description {
    width: 60vw;
  }
  &__status,
  &__change {
    margin-top: 9vw;
  }
  &__change {
    margin: 9vw auto 0;
    @include accountButton($edit);
    &:hover {
      cursor: pointer;
    }
  }
}
