.accountContainer {
  min-height: 150vh;
}

.accountPanel {
  padding: 5vh 7vw;
  &__titleDate {
    @include accountTitle();
  }
  &__infoHolder {
    @include accountInfoHolder(10vh);
  }
  &__info {
    @include accountInfo();
  }
  &__delete {
    @include accountButton($error);
    &:hover {
      cursor: pointer;
    }
  }
}
