.adminContainer {
  min-height: 150vh;
}

.adminPanel {
  padding: 5vh 5vw;
  &__formTitle {
    padding-bottom: 27px;
    font-size: 22px;
    text-align: center;
    @include mq(extra-large) {
      padding-bottom: 62px;
    }
  }
  &__searchForm {
    position: relative;
    margin-bottom: 50px;
    height: 40px;
  }
  &__searchInput {
    position: absolute;
    top: 50%;
    left: 7.5vw;
    padding: 0 15px;
    border: none;
    height: 40px;
    width: 75vw;
    transform: translateY(-50%);
    font-size: 17px;
    color: $allice-blue;
    background-color: $carolina-blue;
    border-radius: 50px;
    outline: none;
    z-index: 1;
    @include mq(small) {
      left: 50%;
      width: 50vw;
      transform: translate(-50%, -50%);
    }
    @include mq(large) {
      width: 30vw;
    }
    @include mq(extra-large) {
      width: 20vw;
    }
    &::placeholder {
      color: $allice-blue;
    }
  }
  &__search {
    position: absolute;
    border: none;
    top: 4px;
    left: 72.5vw;
    height: 33px;
    width: 33px;
    transform: translate(-15%, -1px);
    font-size: 18px;
    line-height: 33px;
    color: $maximum-blue;
    background-color: $allice-blue;
    border-radius: 50%;
    z-index: 2;
    outline: none;
    @include mq(small) {
      left: 72%;
    }
    @include mq(large) {
      left: 63%;
    }
    @include mq(extra-large) {
      left: 58.5%;
    }
  }
  &__listItem {
    margin-bottom: 10vh;
    padding: 20px 7vw;
    height: 35vh;
    display: flex;
    flex-wrap: wrap;
    background-color: $item-backGround;
    border-radius: 8px;
    @include mq(small) {
      height: 47vh;
    }
    @include mq(large) {
      padding: 50px 3vw;
      height: 28vh;
    }
    @include mq(extra-large) {
      margin: 0 auto 10vh;
      width: 75%;
    }
  }
  &__info {
    width: 100%;
    font-weight: bold;
    @include mq(small) {
      width: 50%;
    }
    @include mq(large) {
      width: 40%;
      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(4) {
        width: 20%;
      }
    }
  }
  &__login,
  &__email,
  &__name,
  &__surname {
    margin-left: 12px;
    font-size: 14px;
    font-weight: 500;
  }
  &__button {
    border: none;
    width: 24vw;
    font-size: 11px;
    color: $allice-blue;
    background-color: $maximum-blue;
    text-transform: uppercase;
    border-radius: 3px;
    outline: none;
    @include mq(small) {
      margin-top: 20px;
      height: 10vh;
    }
    @include mq(large) {
      margin: 50px 4vw;
      height: 5vh;
      width: 20vw;
    }
    @include mq(extra-large) {
      margin: 50px 2.5vw;
      width: 15vw;
    }
    &:nth-child(5),
    &:nth-child(6) {
      margin-right: 2vw;
    }
    &:hover {
      cursor: pointer;
    }
    &--edit {
      color: $allice-blue;
      background-color: $edit;
    }
    &--delete {
      color: $allice-blue;
      background-color: $error;
    }
  }
}
