.adminContainer {
  min-height: 150vh;
}

.adminPanel {
  padding: 5vh 5vw;
  &__formTitle {
    padding-bottom: 27px;
    font-size: 22px;
    text-align: center;
  }
  &__searchForm {
    position: relative;
    margin-bottom: 50px;
    height: 40px;
  }
  &__searchInput {
    position: absolute;
    top: 50%;
    left: 7.5vw;
    padding: 0 15px;
    border: none;
    height: 40px;
    width: 75vw;
    transform: translateY(-50%);
    font-size: 17px;
    color: $allice-blue;
    background-color: $carolina-blue;
    border-radius: 50px;
    outline: none;
    z-index: 1;
    @include mq(small) {
      left: 50%;
      width: 50vw;
      transform: translate(-50%, -50%);
    }
    &::placeholder {
      color: $allice-blue;
    }
  }
  &__search {
    position: absolute;
    border: none;
    top: 4px;
    left: 72.5vw;
    height: 33px;
    width: 33px;
    transform: translate(-15%, -1px);
    font-size: 18px;
    line-height: 33px;
    color: $maximum-blue;
    background-color: $allice-blue;
    border-radius: 50%;
    z-index: 2;
    outline: none;
    @include mq(small) {
      left: 72%;
    }
  }
  &__listItem {
    margin-bottom: 10vh;
    padding: 20px 7vw;
    height: 35vh;
    display: flex;
    flex-wrap: wrap;
    background-color: $item-backGround;
    border-radius: 8px;
    @include mq(small) {
      height: 47vh;
    }
  }
  &__info {
    width: 100%;
    font-weight: bold;
    @include mq(small) {
      width: 50%;
    }
  }
  &__login,
  &__email,
  &__name,
  &__surname {
    margin-left: 12px;
    font-size: 14px;
    font-weight: 500;
  }
  &__button {
    border: none;
    width: 24vw;
    font-size: 11px;
    color: $blue-sapphire;
    background-color: $allice-blue;
    text-transform: uppercase;
    border-radius: 3px;
    @include mq(small) {
      margin-top: 20px;
      height: 10vh;
    }
    &:nth-child(5),
    &:nth-child(6) {
      margin-right: 2vw;
    }
  }
}
