.logContainer {
  @include bodyForm();
}

.logHolder {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 20vh 50vh 10vh 20vh / 100vw;
  @include mq(small) {
    height: 145vh;
    grid-template: 30vh 75vh 20vh 20vh/ 100vw;
  }
  @include mq(large) {
    position: absolute;
    top: 50vh;
    left: 50vw;
    height: 75vh;
    width: 50vw;
    grid-template: 20vh 35vh 10vh 10vh/ 100%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
  }
  &__title {
    align-self: end;
    justify-self: center;
    font-size: 30px;
    @include mq(small) {
      align-self: center;
    }
  }
  &__form {
    margin: 0 auto;
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-self: center;
    @include mq(small) {
      width: 50vw;
    }
    @include mq(large) {
      width: 50%;
    }
  }
  &__field {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid $form-grey;
  }
  &__input {
    width: 100%;
    padding: 0 5px;
    border: none;
    height: 40px;
    font-size: 16px;
    background: none;
    outline: none;
  }
  &__label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 20px;
    color: $form-grey;
    transition: 0.5s;
    pointer-events: none;
  }
  &__line {
    &::before {
      content: '';
      position: absolute;
      top: 40px;
      left: 0;
      height: 2px;
      width: 0;
      background-color: $maximum-blue;
      transition: 0.5s;
    }
  }
  &__submit {
    margin: 30px auto 0;
    border: 1px solid;
    height: 50px;
    width: 75%;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    background-color: $maximum-blue;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $allice-blue;
    outline: none;
    @include mq(large) {
      transition: 0.5s;
      &:hover {
        border-color: $maximum-blue;
        cursor: pointer;
      }
    }
  }
  &__text {
    margin-top: 30px;
    text-align: center;
    color: $form-grey;
    @include mq(small) {
      margin-top: 10vh;
    }
    @include mq(large) {
      margin-top: 40px;
    }
    &--second {
      @include mq(small) {
        margin-top: 2vh;
        align-self: start;
      }
    }
    &--signUp {
      margin-top: 0;
    }
  }
  &__link {
    color: $maximum-blue;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      @include mq(large) {
        color: $prussian-blue;
      }
    }
  }
}

.logHolder__input:focus ~ .logHolder__label,
.logHolder__input:valid ~ .logHolder__label {
  top: -5px;
  font-size: 16px;
  color: $carolina-blue;
}

.logHolder__input:focus ~ .logHolder__line::before,
.logHolder__input:valid ~ .logHolder__line::before {
  width: 100%;
}
