.signContainer {
  @include bodyForm();
}

.signHolder {
  padding: 50px 15px 0;
  height: 100vh;
  width: 100vw;
  text-align: center;
  &__header {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 75px;
  }
  &__progressBar {
    display: flex;
    margin: 40px 0;
    @include mq(small) {
      margin: 0 auto 50px;
      width: 90vw;
    }
    @include mq(large) {
      width: 50vw;
    }
    @include mq(extra-large) {
      width: 33vw;
    }
  }
  &__step {
    position: relative;
    width: 100%;
    text-align: center;
  }
  &__stepTitle {
    font-weight: 500;
    color: black;
    margin-bottom: 8px;
    transition: 0.2s;
    &--active {
      color: $maximum-blue;
    }
  }
  &__bullet {
    position: relative;
    border: 2px solid black;
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 50%;
    transition: 0.2s;
    &--active {
      border-color: $maximum-blue;
      background-color: $maximum-blue;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 11px;
      right: -51px;
      height: 3px;
      width: 44px;
      background-color: #262626;
      @include mq(small) {
        right: -16vw;
        width: 14vw;
      }
      @include mq(large) {
        right: -8.5vw;
        width: 7vw;
      }
      @include mq(extra-large) {
        left: 2.5vw;
        width: 5vw;
      }
    }
    &--active::after {
      background-color: $maximum-blue;
      transform: scaleX(0);
      transform-origin: left;
      animation: fill 0.5s linear forwards;
    }
  }
  &__bulletContent {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    transition: 0.2s;
    &--active {
      display: none;
    }
  }
  &__check {
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
    transition: 0.2s;
    &--active {
      display: block;
      color: #fff;
    }
  }
  &__formOuter {
    width: 100%;
    overflow: hidden;
  }
  &__form {
    display: flex;
    width: 400%;
  }
  &__page {
    width: 25%;
    transition: margin-left 0.5s ease-in-out;
  }
  &__title {
    margin-bottom: 12vh;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    @include mq(small) {
      margin-bottom: 0;
    }
    @include mq(extra-large) {
      margin-bottom: 80px;
    }
  }
  &__field {
    position: relative;
    margin: 20vw auto;
    height: 5vh;
    width: 75vw;
    display: flex;
    @include mq(small) {
      margin: 19vh auto;
      padding: 0 15vw;
    }
    @include mq(large) {
      margin: 8vh auto;
    }
    @include mq(extra-large) {
      margin: 10vh auto;
      padding: 0 25vw;
    }
    &--edit {
      margin: 15vw auto;
      @include mq(small) {
        margin: 10vh 0;
        padding: 0 5vw;
        width: 40vw;
      }
      @include mq(large) {
        margin: 4vh 0 2vh;
      }
    }
    &--buttons button {
      margin-top: -20px;
    }
  }
  &__input {
    padding-left: 15px;
    height: 100%;
    width: 100%;
    border: 1px solid $form-grey;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    @include mq(small) {
      height: 140%;
      font-size: 14px;
    }
    @include mq(large) {
      height: 80%;
      font-size: 16px;
    }
    &:focus {
      border: 1px solid $maximum-blue;
    }
  }
  &__select {
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
    @include mq(small) {
      height: 140%;
      font-size: 14px;
    }
    @include mq(large) {
      height: 100%;
      font-size: 18px;
    }
  }
  &__label {
    position: absolute;
    top: -30px;
    font-weight: 500;
    @include mq(extra-small) {
      font-size: 18px;
    }
  }
  &__error {
    position: absolute;
    top: -50px;
    height: 30px;
    display: none;
    font-size: 14px;
    color: $error;
  }
  &__button {
    margin-top: -20px;
    border: none;
    height: calc(100% + 5px);
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: $maximum-blue;
    color: $allice-blue;
    text-transform: uppercase;
    outline: none;
    @include mq(small) {
      height: 190%;
    }
    @include mq(large) {
      height: 100%;
    }
    @include mq(large) {
      transition: 0.5s;
      &:hover {
        background-color: $prussian-blue;
        cursor: pointer;
      }
    }
  }
}

.previoutButton {
  margin-right: 3px;
  font-size: 17px;
}

.nextButton {
  margin-left: 3px;
  font-size: 17px;
}

.signHolder__step:last-child .signHolder__bullet::before,
.signHolder__step:last-child .signHolder__bullet::after {
  display: none;
}

@keyframes fill {
  100% {
    transform: scaleX(1);
  }
}
