.container {
  display: grid;
  grid-template: 100vh 1fr 10vh / 100vw;
  min-height: 200vh;
  font-family: 'Open Sans', sans-serif;
  @include mq(small) {
    grid-template: 100vh 1fr 20vh / 100vw;
  }
}

.mainInfo {
  overflow: hidden;
  &__title {
    height: 80px;
    width: 100vw;
    display: inline-block;
    font-size: 17px;
    line-height: 80px;
    text-align: center;
    @include mq(extra-small) {
      font-size: 20px;
    }
  }
  &__lastFive {
    height: 320vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include mq(small) {
      height: 400vh;
    }
  }
  &__roomItem {
    margin: 0 auto;
    width: 90vw;
    background-color: $item-backGround;
    border-radius: 8px;
    @include mq(small) {
      height: 75vh;
      width: 90vw;
      display: flex;
    }
  }
  &__ImagesRoom {
    @include imageItem;
  }
  &__textHolder {
    @include mq(small) {
      width: 50%;
      display: flex;
      align-content: space-evenly;
      flex-wrap: wrap;
    }
  }
  &__roomTitle {
    @include titleItem;
    font-size: 18px;
    @include mq(small) {
      margin-top: 10vh;
      width: 100%;
    }
  }
  &__roomDescritpion {
    margin: 0 auto;
    padding: 20px 0;
    height: 20vh;
    width: 90%;
    text-align: center;
    @include mq(small) {
      padding: 0;
    }
  }
  &__price {
    padding-left: 10px;
    height: 40px;
    width: 50%;
    display: inline-block;
    font-size: 12px;
    line-height: 40px;
    @include mq(small) {
      margin-bottom: 20px;
      width: 40%;
    }
  }
  &__location {
    padding-right: 10px;
    height: 40px;
    width: 50%;
    display: inline-block;
    font-size: 12px;
    line-height: 40px;
    text-align: end;
    @include mq(small) {
      width: 60%;
    }
  }

  &__whyUs {
    height: calc(230vh + 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include mq(small) {
      height: calc(300vh + 80px);
    }
  }

  &__reason {
    margin: 0 auto;
    width: 90vw;
    background-color: $item-backGround;
    border-radius: 8px;
    transform: translateX(100vw);
    @include mq(small) {
      height: 75vh;
      width: 95vw;
      display: flex;
    }
  }

  &__reasonImage {
    @include imageItem;
  }

  &__titleItem {
    @include titleItem;
    font-size: 20px;
    @include mq(small) {
      font-size: 18px;
    }
  }

  &__description {
    margin: 30px auto;
    width: 80%;
    text-align: center;
  }
}
