.container {
  display: grid;
  grid-template: 100vh 1fr 10vh / 100vw;
  min-height: 200vh;
  font-family: 'Open Sans', sans-serif;
}

.mainInfo {
  overflow: hidden;
  &__title {
    height: 80px;
    width: 100vw;
    display: inline-block;
    font-size: 17px;
    line-height: 80px;
    text-align: center;
    @include mq(extra-small) {
      font-size: 20px;
    }
  }
  &__lastFive {
    height: 220vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__roomItem {
    margin: 0 auto;
    width: 90vw;
    background-color: $item-backGround;
  }
  &__ImagesRoom {
    @include imageItem;
  }
  &__roomTitle {
    @include titleItem;
    font-size: 18px;
  }
  &__price {
    padding-left: 10px;
    height: 40px;
    width: 50%;
    display: inline-block;
    font-size: 12px;
    line-height: 40px;
  }
  &__location {
    padding-right: 10px;
    height: 40px;
    width: 50%;
    display: inline-block;
    font-size: 12px;
    line-height: 40px;
    text-align: end;
  }

  &__whyUs {
    height: calc(230vh + 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__reason {
    margin: 0 auto;
    width: 90vw;
    background-color: $item-backGround;
    transform: translateX(100vw);
  }

  &__reasonImage {
    @include imageItem;
  }

  &__titleItem {
    @include titleItem;
    font-size: 20px;
  }

  &__description {
    margin: 30px auto;
    width: 80%;
    text-align: center;
  }
}
