.burger {
  position: fixed;
  top: 15px;
  right: 25px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $allice-blue;
  z-index: 4;
  @include mq(large) {
    display: none;
  }
  &--details {
    display: none;
  }
  i {
    color: $blue-sapphire;
    font-size: 25px;
  }
}
