.burger {
  position: fixed;
  top: 15px;
  right: 25px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebf7ff;
  z-index: 2;

  i {
    color: #225d81;
    font-size: 25px;
  }
}
