.header {
  position: relative;
  background-image: url('../assets/bedroom.jpg');
  background-position: center 20%;
  background-size: cover;
  @include mq(large) {
    background-position: center 60%;
  }
  &__title {
    position: absolute;
    top: 18vh;
    left: 5vw;
    font-size: 32px;
    color: $allice-blue;
    @include mq(large) {
      font-size: 38px;
    }
  }
  &__description {
    position: absolute;
    top: 30vh;
    left: 5vw;
    width: 80vw;
    font-size: 20px;
    color: $allice-blue;
    @include mq(small) {
      top: 40vh;
    }
    @include mq(large) {
      top: 30vh;
      width: 40vw;
      font-size: 24px;
    }
  }
  &__icon {
    position: absolute;
    top: 75%;
    left: 45%;
    font-size: 60px;
    color: $blue-sapphire;
    animation: upDown 2s linear infinite;
    @include mq(small) {
      left: 50%;
    }
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(20px);
  }
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
